.academicos {
  width: 100%;
  height: 100%;
}

.academicos header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tituloAcademico h3 {
  font-size: 2rem;
  color: white;
  background-color: black;
  height: 4rem;
  width: 100%;
}

.academicos .body {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.titulos {
  margin: 1rem;
  width: 100%;
  height: 40rem;
  background-color: black;
  border-radius: 2rem;
  overflow: hidden;
  filter: drop-shadow(0 0 0.2rem #71716f);
}

.titulos h3 {
  padding: 1rem 0 1rem 0.5rem;
  margin: 0;
}

.titulos p {
  text-decoration: none;
  color: white;
  /* display: block; */
  padding: 0 1rem 1rem 1rem;
  margin: 0;
}

.titulos h3 {
  color: white;
  text-transform: uppercase;
  width: 100%;
}

.body aside {
  background-color: black;
  width: 20rem;
  height: 50rem;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
}

aside h2 {
  display: flex;
  color: white;
  margin: 0;
  padding: 0;
  width: fit-content;
  font-size: 1.2rem;
}

.body h2 {
  padding: 2rem;
}

.titulos img {
  width: 100%;
  height: 20rem;
  display: block;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-sizing: border-box;
}

aside li {
  margin-bottom: 2rem;
}

.titulos a {
  width: fit-content;
  height: fit-content;
  margin: 0;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.2rem #fafaf7);
}
.textoTitulos {
  display: flex;
  flex-direction: column;
  border: 2rem;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
